.profile-box-container {
    position: relative;
    height: 330px;
    box-shadow: 1 1 3px 1px;
    text-align: left;
    border-top-left-radius: 80px;
}

.profile-avatar-container {
    height: 200px;
    background-color: rgb(241, 255, 219);
    border-top-left-radius: 80px;
    background: rgb(238, 174, 202);
    background: linear-gradient(90deg, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.avartar {
    height: 200px;
    width: 200px;
    position: absolute;
    border: 5px solid white;
    margin-top: -80px;
    margin-left: 30px;
    box-shadow: 0 0 8px 1px white;
}

.introduction {
    margin: 10px 280px
}

.profile-name {
    font-weight: 600;
    font-size: 25px;
}